.section_cont {
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 0 124px;
    padding-top: 234px;
}

.bell_icon {
    position: absolute;
    bottom: -2510px;
    left: 1120px;
    animation-name: bell;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bell {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

.rotate-element {
    animation: bell 2s linear infinite;
}

.card_cont {
    width: 50%;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    background-color: var(--colorCard);
    border-radius: 20px;
    border: none;
    overflow: hidden;
}

.card_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 0 48px;
}

.card_h3 {
    color: var(--colorBlack1);
    text-align: center;
    font-family: var( --font_popins_600);
    font-size: 25px;
    line-height: 170%;
    /* 42.5008px */
}

.card_paragh {
    color: var( --colorText4);
    text-align: center;
    font-family: var( --font_popins_400);
    font-size: 16px;
    line-height: 170%;
    /* 27.2px */
}

.card_btn {
    background-color: var(--headerColor);
    color: var(--colorWhite);
    text-align: center;
    font-family: var( --font_popins_500);
    font-size: 16px;
    line-height: 170%;
    /* 27.2px */
    border: none;
    margin-bottom: 48px;
    padding: 12px 34px;
    border-radius: 10px;
}


/* ************************ */

.card_blue_cont {
    padding-top: 64px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: var(--headerColor);
    align-items: center;
    border-radius: 20px;
    border: none;
    overflow: hidden;
}

.card_blue_title {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 0 48px;
}

.card_blue_h3 {
    color: var(--colorWhite);
    text-align: center;
    font-family: var( --font_popins_600);
    font-size: 25px;
    line-height: 170%;
    /* 42.5008px */
}

.card_blue_paragh {
    color: var(--colorWhite);
    text-align: center;
    font-family: var( --font_popins_400);
    font-size: 16px;
    line-height: 170%;
    /* 27.2px */
}

.card_blue_btn {
    background-color: var(--colorWhite);
    color: var( --headerColor);
    text-align: center;
    font-family: var( --font_popins_500);
    font-size: 16px;
    line-height: 170%;
    /* 27.2px */
    border: none;
    margin-bottom: 48px;
    padding: 12px 34px;
    border-radius: 10px;
}


/* ***************************** */

.company_cont {
    position: relative;
}

.ellipse_c {
    position: absolute;
    top: 0;
}

.company_nav {
    padding-top: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.company_h3 {
    color: var(--colorBlack);
    font-family: var( --font_popins_500);
    font-size: 24px;
    line-height: 159%;
    /* 38.16px */
}

.company_icon {
    display: flex;
    gap: 116px;
}


/* ************************************ */

.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 148px 460px;
    background: var(--backgroundCont);
    position: relative;
    margin-top: 88px;
}

.contact_p {
    width: 516px;
    color: var( --colorBlack1);
    text-align: center;
    font-family: var( --font_popins_600);
    font-size: 30px;
    line-height: 170%;
    /* 51px */
}

.form {
    display: flex;
    gap: 14px;
}

.form input {
    width: 532px;
    background: var(--colorWhite);
    color: var( --inputcolor);
    font-family: var( --font_popins_400);
    font-size: 16px;
    line-height: 170%;
    /* 27.2px */
    padding-left: 36px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 84px 0px rgba(0, 0, 0, 0.07);
}

.form button {
    cursor: pointer;
    padding: 20px 44px;
    border: none;
    border-radius: 10px;
    background: var(--colorBlack);
    color: var( --colorCard);
    text-align: center;
    font-family: var( --font_popins_500);
    font-size: 16px;
    line-height: 170%;
    /* 27.2px */
}

.star1 {
    position: absolute;
    top: -44px;
    left: 167px;
}

.contact_container img:last-child {
    position: absolute;
    top: 94px;
    right: 397px;
}


/* **************** */


/* ***************** */


/* **************** */


/* ***************** */


/* **************** */


/* ***************** */

.footer-top {
    padding: 86px 110px 54px 110px;
    display: flex;
    justify-content: space-between;
}

.f-logo {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.parag1 {
    color: var(--colorText6);
    font-family: var(--font_popins_700);
    font-size: 16px;
    line-height: normal;
}

.parag2 {
    width: 372px;
    color: var(--colorText5);
    font-family: var(--font_popins_400);
    font-size: 16px;
    line-height: normal;
}

.parag3 {
    color: var(--colorText5);
    font-family: var(--font_popins_400);
    font-size: 16px;
    line-height: normal;
}


/* ********************PAGE 1******************  */

.f-about-us {
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about_parag1 {
    color: var(--colorBlack);
    font-family: var(--font_popins_500);
    font-size: 17px;
    line-height: normal;
}

.about_parag2,
.about_parag3,
.about_parag4,
.about_parag5 {
    color: var(--colorText5);
    font-family: var(--font_popins_400);
    font-size: 16px;
    line-height: 186.3%;
    /* 29.808px */
}


/* ********************PAGE 2******************  */

.f-contact-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-p1 {
    color: var(--colorBlack);
    font-family: var(--font_popins_500);
    font-size: 17px;
    line-height: normal;
}

.f-contact-us-par {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.f-contact-us-par p {
    width: 282px;
    color: var( --colorText5);
    font-family: var(--font_popins_400);
    font-size: 16px;
    line-height: normal;
}


/* ********************PAGE 3******************  */

.f-socials {
    display: flex;
    align-items: end;
    gap: 16px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.socials img {
    width: 12px;
}


/* ********************PAGE 4******************  */

.footer-bottom {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    border-top: solid .8px var( --footerColor);
    color: var(--colorText7);
    font-family: var(--font_popins_400);
    font-size: 13px;
    line-height: 190.6%;
    /* 24.7776px */
}