.centric_container {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-top: 114px;
}

.center_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.center_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
}

.center_h3 {
    color: var( --colorBlack1);
    font-family: var(--font_popins_600);
    font-size: 33px;
    line-height: 160%;
    /* 52.8px */
}

.center_parag {
    padding: 0 374px;
    text-align: center;
    color: var( --colorText2);
    text-align: center;
    font-family: var(--font_popins_400);
    font-size: 18px;
    line-height: 175%;
    /* 31.5px */
}

.center_left_container {
    display: flex;
    align-items: center;
    padding-left: 124px;
    padding-right: 64px;
}

.happy_public_container {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.happy_small_cont {
    display: flex;
    gap: 24px;
}

.happy_icon img {
    padding: 16px;
    background-color: var(--colorAfterCircle);
    border-radius: 50%;
}

.happy_parag1 {
    color: var( --colorBlack);
    font-family: var(--font_popins_500);
    font-size: 17px;
    line-height: 175%;
    /* 29.75px */
}

.happy_parag2 {
    color: var( --colorText2);
    font-family: var( --font_popins_400);
    font-size: 14px;
    line-height: 175%;
    /* 24.5px */
}

.dummy_container {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-right: 38px;
}

.dummy_h3 {
    color: var(--colorBlack);
    font-family: var(--font_popins_600);
    font-size: 30px;
    line-height: 170%;
    /* 51px */
}

.dummy_span {
    color: var( --headerColor);
    font-family: var(--font_popins_600);
    font-size: 30px;
    line-height: 170%;
    /* 51px */
}

.dummy_parag {
    color: var( --colorText4);
    font-family: var(--font_popins_400);
    font-size: 16px;
    line-height: 170%;
    /* 27.2px */
}

.recent_image_container {
    width: 35%;
    position: relative;
}

.elipse_recent {
    position: absolute;
    left: 541px;
    top: 135px;
}


/* ******************* */

.recent_image_container_duble {
    width: 35%;
    position: relative;
}

.elipse_duble2 {
    position: absolute;
    right: 600px;
    top: 400px;
}

.centric_container_duble {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.center_left_container_duble {
    padding-left: 80px;
    padding-top: 168px;
    display: flex;
    align-items: center;
}

.happy_public_container_duble {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-left: 212px;
    gap: 45px;
}

.happy_small_cont_duble {
    display: flex;
    align-items: center;
    gap: 24px;
}

.happy_icon2 img {
    padding: 16px;
    background-color: var(--headerColor);
    border-radius: 50%;
}

.happy_duble_parag1 {
    color: var( --colorBlack);
    font-family: var(--font_popins_500);
    font-size: 17px;
    line-height: 175%;
    /* 29.75px */
}

.happy_duble_parag2 {
    color: var( --colorText2);
    font-family: var( --font_popins_400);
    font-size: 14px;
    line-height: 175%;
    /* 24.5px */
}

.dummy_container_duble {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.dummy_h3_duble {
    color: var(--colorBlack);
    font-family: var(--font_popins_600);
    font-size: 30px;
    line-height: 170%;
    /* 51px */
}

.dummy_span_duble {
    color: var( --headerColor);
    font-family: var(--font_popins_600);
    font-size: 30px;
    line-height: 170%;
    /* 51px */
}

.dummy_parag_duble {
    color: var( --colorText4);
    font-family: var(--font_popins_400);
    font-size: 16px;
    line-height: 170%;
    /* 27.2px */
}