.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    /* padding: 2rem; */
    background-color: var( --colorWhite);
    border-bottom: solid .0437rem var(--colorBorderBotom);
    position: sticky;
    top: 0;
    z-index: 100;
}

.travolic {
    color: var(--headerColor);
    font-family: var( --font_popins_700);
    font-size: 30px;
    /* font-size: 1.875rem; */
}

.home_container {
    display: flex;
    align-items: center;
    gap: 168px;
    /* gap: 10.5rem; */
}

.navbar {
    display: flex;
    gap: 84px;
    /* gap: 5.25rem; */
}

.navlist:nth-child(1) a {
    color: var( --headerColor);
    font-family: var(--font_popins_400);
    font-size: 16px;
    /* font-size: 1rem; */
}

.navitem {
    position: relative;
}

.navitem::after {
    content: url();
    background-color: var(--colorAfterCircle);
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    left: -8px;
    top: -4px;
    animation-name: greenCircle;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes greenCircle {
    from {
        opacity: 1;
        top: -0.1875rem;
    }
    to {
        opacity: 0.5;
        top: -0.1875rem;
    }
}

.navlist a {
    color: var( --colorBlack);
    font-family: var(--font_popins_400);
    font-size: 16px;
    /* font-size: 1rem; */
}

.contact {
    color: var( --colorWhite);
    font-family: var(--font_popins_400);
    font-size: 13.008px;
    /* font-size: .8125rem; */
    padding: 10px 26px;
    /* padding: .625rem 1.625rem; */
    background-color: var(--headerColor);
    border-radius: 6px;
    /* border-radius: .375rem; */
}


/* ****************************** */

.main_container {
    background-color: var(--mainBackground);
    padding-left: 124px;
    /* padding-left: 7.75rem; */
    padding-right: 66px;
    /* padding-right: 4.125rem; */
    width: 100%;
    display: flex;
    align-items: center;
}

.info_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 66px;
    /* gap: 4.125rem; */
}

.left_info_container {
    font-family: var(--font_popins_600);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title1 {
    color: var( --colorBlack);
    font-size: 40px;
    /* font-size: 2.5rem; */
    line-height: normal;
}

.sentence {
    color: var( --headerColor);
    font-size: 40px;
    /* font-size: 2.5rem; */
}

.title2 {
    color: var( --colorText);
    font-family: var( --font_popins_400);
    font-size: 16px;
    line-height: 204.3%;
    /* 2.043rem */
}

.btn_container {
    font-family: var( --font_popins_400);
    display: flex;
    gap: 16px;
}

.left_btn1 {
    background: var( --headerColor);
    font-size: 16px;
    padding: 10px 54px;
    /* padding: .625rem 3.375rem; */
    border-radius: 10000px;
    /* border-radius: .625rem; */
    border: none;
    cursor: pointer;
}

.left_btn2 {
    background: var(--colorWhite);
    border: .0625rem solid var( --headerColor);
    border-radius: 10000px;
    /* border-radius: .625rem; */
    font-size: 16px;
    padding: 10px 54px;
    /* padding: .625rem 3.375rem; */
    cursor: pointer;
}

.image_container {
    width: 50%;
    position: relative;
}

.bill_sitting {
    width: 100%;
    object-fit: cover;
}

.vector1 {
    position: absolute;
    left: 615px;
    /* left: 38.625rem; */
    top: 284px;
    /* top: 17.75rem; */
}

.vector2 {
    position: absolute;
    right: 1300px;
    /* right: 81.25rem;*/
    top: 280px;
    /* top: 17.5rem; */
}

.description_container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 44px 0;
    /* gap: 1.875rem;
    padding: 2.75rem 0; */
    border-bottom: solid .0437rem var( --borderBottomAsside1);
}

.wepsite_conten {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.wep_img1 {
    padding: 22px;
    border-radius: 20px;
    /* padding: 1.375rem ;
    border-radius: 1.25rem; */
    background-color: var( --wepSite);
}

.wep_img2 {
    padding: 26px;
    border-radius: 20px;
    /* padding: 1.625rem;
    border-radius: 1.25rem; */
    background-color: var( --seoTag);
}

.wep_img3 {
    padding: 26px;
    border-radius: 20px;
    /* padding: 1.625rem;
    border-radius: 1.25rem; */
    background-color: var(--immersive);
}

.wep_img4 {
    padding: 26px;
    border-radius: 18px;
    /* padding: 1.625rem;
    border-radius: 1.25rem; */
    background-color: var(--codding);
}

.aplication_title {
    gap: 14px;
}

.aplication_text {
    color: var(--colorBlack);
    font-family: var( --font_popins_500);
    font-size: 20px;
    /* font-size: 1.25rem; */
    line-height: 175%;
    /* 2.1875rem */
}

.aplication_parag {
    color: var( --colorText3);
    font-family: var( --font_popins_400);
    font-size: 16px;
    /* font-size: .9375rem; */
    line-height: 175%;
    /* 1.6406rem */
}